<div class="container">
        
        <div class="row" *ngIf="game">
            <board [game]="game"></board>
        </div>
    
        <div class="row" *ngIf="game">
            <a (click)="onNextButtonClick()" class="waves-effect waves-light btn">Next</a>
            <a (click)="onSwitchAutoClick()" class="waves-effect waves-light btn">Auto {{autoLoad? 'Off': 'On'}}</a>
        </div>
    </div>
        